{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <a href="{% url 'home' %}">Return</a>
    <h1>Company Name: {{ application.company_name }}</h1>
    <h2>Role: {{ application.role }}</h2>
    Status: {{ application.status }}
    Date Applied: {{ application.date_applied }}
    <br>
    Salary Min: 
    {% if application.salary_min %}
        {{ application.salary_min }}
    {% else %}
        ......
    {% endif %}

    Salary Max: 
    {% if application.salary_max %}
        {{ application.salary_max }}
    {% else %}
        ......
    {% endif %}

    Salary Period: 
    {% if application.salary_period %}
        {{ application.salary_period }}
    {% else %}
        ......
    {% endif %}

    Currency: 
    {% if application.currency %}
        {{ application.currency }}
    {% else %}
        ......
    {% endif %}

    Work Mode: 
    {% if application.work_mode %}
        {{ application.work_mode }}
    {% else %}
        ......
    {% endif %}

    Contract Type: 
    {% if application.contract_type %}
        {{ application.contract_type }}
    {% else %}
        ......
    {% endif %}

    <br>
    Vacancy Link: 
    {% if application.company_address %}
        {{ application.vacancy_link }}
    {% else %}
        ......
    {% endif %}
    
    Company Address: 
    {% if application.company_address %}
        {{ application.company_address }}
    {% else %}
        ......
    {% endif %}
    Notes: 
    {% if application.notes %}
        {{ application.notes }}
    {% else %}
        ......
    {% endif %}
    <br>
    Vacancy Description: 
    {% if application.vacancy_description %}
        {{ application.vacancy_description }}
    {% else %}
        ......
    {% endif %}
    <br>
    <a href="{% url 'edit_application' application.id %}?next={{ request.path }}" class="btn btn-primary">Edit</a>
    <br>
    ----------------------------------------------------------------------------------------
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Event
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% load crispy_forms_tags %}
            <form id="addEventForm" method="POST" action="{% url 'add_event' application.id %}">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button form="addEventForm" type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
    {% for event in events %}
    <div class="d-flex">
        <div>
            {{ event.event_type }} {{ event.event_date }} <br>
            {{ event.notes }}
        </div>
        <!-- Fix this later!!! Delete feature shouldnt be a 'raw' route.
          It needs to be associated with an http request that isnt GET for safety (the delete button on the home page too)-->
        <a href="{% url 'delete_event' application.id event.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'edit_event' application.id event.id %}" class="btn btn-primary">Edit</a>
    </div>
    {% endfor %}
</body>
</html>