<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Company Name: {{ application.company_name }}
    Role: {{ application.role }}
    Status: {{ application.status }}
    Date Applied: {{ application.date_applied }}
    <br>
    Salary Min: {{ application.salary_min }}
    Salary Max: {{ application.salary_max }}
    Salary Period: {{ application.salary_period }}
    Currency: {{ application.currency }}
    Work Mode: {{ application.work_mode }}
    Contract Type: {{ application.contract_type }}
    <br>
    Vacancy Link: {{ application.vacancy_link }}
    Company Address: {{ application.company_address }}
    Notes: {{ application.notes }}
    <br>
    Vacancy Description: {{ application.vacancy_description }}
</body>
</html>