{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <a href="{% url 'welcome' %}">Auth Page</a>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Latest</a></li>
                <li><a class="dropdown-item" href="#">Oldest</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Placeholder</a></li>
            </ul>
            </li>
        </ul>
        <form class="d-flex" role="search" style="width: 700px;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success " type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>

    <a class="d-flex justify-content-center mb-1" href="{% url 'add_application' %}">Add Application</a>

    {% for application in applications_list %}
    <div class="d-flex justify-content-center mb-1">
        <a href="{% url 'application' application.id %}" class="btn btn-primary w-75">
            <div>{{ application.company_name }}</div>
            <div>
                {{ application.role }} /
                {{ application.status}} /
                {{ application.date_applied }}
            </div>
            <div>{{ application.notes }}</div>
        </a>
        <div class="d-flex flex-column">
            <a href="{% url 'delete_application' application.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'edit_application' application.id %}" class="btn btn-primary">Edit</a>
        </div>
    </div>
    {% endfor %}
</body>
</html>